#about-me-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: 1100px;
    height: auto;
    margin: 20px auto;
}

.carousel-about-me {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.slider-about-me {
    display: flex;
    height: 100%;
    width: 300%;
    flex-shrink: 0;
    transition: all 0.75s;
}

.slider-about-me section {
    flex-basis: 33%;
    width: 33%;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.text-white {
    color: white !important;
}

.button-about-me {
    width: 70px !important;
    height: auto !important;
    background-color: rgb(107, 228, 228) !important;
    border: solid rgb(107, 172, 172) 3px !important;
    border-radius: 50% !important;
    align-items: center !important;
    text-align: center !important;
    margin: 0 20px !important;
}

.button-about-me:hover {
    background-color: rgb(163, 103, 220) !important;
    border: solid rgb(197, 145, 245) 2px !important;
}

.arrow-forward-about-me, .arrow-back-about-me {
    font-size: 50px !important;
    color: rgb(67, 36, 118) !important;
    padding: 0 35px !important;
}

.controls {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 10px auto;
}