/* #menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
} */

#back-to-top-anchor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.menu-button {
    height: 40px;
    color: white !important;
    margin: 0 5px !important;
}

#Button {
    color: white;
}

.buttons-containter {
    display: flex;
    /* justify-content: space-evenly; */
}

.home-logo {
    margin: 10px;
    height: 80px;
}