#background-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding: 10px;
}

#background-container {
    border: solid rgb(189, 189, 189) 2px;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    width: auto;
}

#background-carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 90%;
    margin: 10px;
}

.text-white {
    color: white !important;
}

.background-heading {
    width: 100%;
    margin: 0 0 20px 20px !important;
}

#background-text {
    width: auto !important;
    padding: 0 0 0 20px !important;
    flex-basis: 55% !important;
    justify-self: center !important;
    align-self: center !important;
}

.background-noto-sans {
    font-family: "Noto Sans KR", sans-serif !important;
    font-weight: 400 !important;
}

.background-paragraph:last-child {
    margin-bottom: 20px !important;
}

.background-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.background-carousel {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.background-slider {
    display: flex;
    height: 100%;
    width: 700%;
    flex-shrink: 0;
    transition: all 0.75s;

}

.background-slider div {
    flex-basis: 20%;
    width: 20%;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

#background-controls {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.background-button {
    margin: 0 40px !important;
}