#background-card, #adventure-card, #hobbies-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid rgb(189, 189, 189) 2px;
    border-radius: 10px;
    width: 1050px;
    position: sticky;
}

#background-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#background-carousel-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    margin: 0 15px 30px 10px;
}

.text-white {
    color: white !important;
}

.about-me-heading {
    margin: 40px 0 20px 0 !important;
}

.background-heading {
    width: 100%;
    padding: 10px 0 10px 20px;  
}

#background-text {
    width: 60% !important;
    padding: 0 0 0 20px !important;
}

.noto-sans-about-me {
    font-family: "Noto Sans KR", sans-serif !important;
    font-weight: 400 !important;
}

.paragraph-about-me {
    margin: 5px 0;
}

.paragraph-about-me:last-child {
    margin-bottom: 20px !important;
}

.image-about-me {
    width: 90%;
    height: 300px;
    object-fit: cover;
}

.carousel-background {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    border: solid green 2px;
}

.slider-background {
    display: flex;
    height: 100%;
    width: 500%;
    flex-shrink: 0;
    transition: all 0.75s;
    border: solid grey 1px;
}

.slider-background div {
    flex-basis: 20%;
    width: 20%;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

#background-controls {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px purple;
}