#portfolio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
}

#carousel-container {
    margin-top: 20px;
    width: 75%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #40434b !important;
}

#back-to-top-anchor {
    height: 0 !important;
}

.text-white {
    color: white !important;
}

.paragraph {
    width: auto;
    margin: 5px 10px 10px 20px !important;
}

.card-title {
    margin: 10px 0 5px 20px !important;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(64, 67, 75) !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.paragraph-container {
    height: auto;
    width: 100%;
}

.button-container {
    width: 100%;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.stack-container {
    margin: 10px 20px 20px 20px;
}

.project-photo {
    width: 100%;
}

.photo-container {
    width: 100%;
    height: 50vh;
    object-fit: fill;
}

.button {
    margin: 0 20px !important;
}