#home-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#text-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 75px 0 0 150px !important;
}

.text-white {
    color: white !important;
}

.text {
    /* margin-left: 10px !important; */
    text-align: left !important;
}

.name {
    margin: 20px 0 20px -20px !important;
    transition-delay: 5s !important;
    line-height: 100% !important;
}

.first-line {
    font-size: 20px !important;
    margin-left: -12px !important;
}

.paragraph {
    font-weight: 200 !important;
    line-height: 200% !important;
    font-size: 20px !important;
}

#paragraph-container {
    margin-left: -30px !important;
}

.languages {
    font-size: 20px !important;
    margin: 20px 0 !important;
    margin-left: -10px !important;
}

#photo {
    width: 350px;
    border-radius: 50%;
    border: solid rgb(119, 189, 189) 2px;
    margin: 100px 100px 0 0;
}

.info {
    display: flex;
    align-items: flex-start;
}

.button-home {
    width: auto !important;
    background-color: rgb(119, 189, 189) !important;
    border: solid rgb(0, 255, 251) 2px !important;
}

.button-home:hover, .phantom-button:hover {
    background-color: rgb(163, 103, 220) !important;
    border: solid rgb(197, 145, 245) 2px !important;
}

.close-button {
    /* border-radius: 50% !important; */
    /* width: 100% !important; */
    height: auto !important;
    width: auto !important;
    padding: 25% !important;
}

#contact-button-container {
    height: auto ;
    width: auto;
    display: flex;
    align-items: center;
    margin: 60px 0 20px 0;
}

.phantom-button {
    width: auto !important;
    height: auto !important;
    background-color: rgb(119, 189, 189) !important;
    margin: 20px!important;
    border: solid rgb(0, 255, 251) 5px !important;
    font-size: 400% !important;
    padding: 10% !important;
    border-radius: 50% !important;
}

#phantom-buttons-container {
    width: 100% !important;
    height: 33%;
    position: absolute !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 33% !important;
}