#adventures-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding: 10px;
}

#adventures-container {
    border: solid rgb(189, 189, 189) 2px;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    width: auto;
}

#adventures-carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    height: 80vh;
    padding: 0 0 0 15px !important;
}

#adventures-text {
    width: auto !important;
    flex-basis: 55% !important;
    justify-self: center !important;
    align-self: center !important;
}

.text-white {
    color: white !important;
}

.adventures-heading {
    width: 100%;
}


.adventures-noto-sans {
    font-family: "Noto Sans KR", sans-serif !important;
    font-weight: 400 !important;
}

.adventures-paragraph:last-child {
    margin-bottom: 10px !important;
}

.adventures-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adventures-image-container {
    height: auto;
}

.adventures-carousel {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.adventures-slider {
    display: flex;
    height: 100%;
    width: 1100%;
    flex-shrink: 0;
    transition: all 0.75s;
}

.adventures-paragraph {
    margin: 5px 0 !important;
    font-size: 20px !important;
}

.adventures-slider div {
    flex-basis: 20%;
    width: 20%;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

#adventures-controls {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.adventures-button {
    margin: 0 40px !important;
}