#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: rgba(224, 224, 224, 0.042) !important;
    margin-top: 40px;
}

.footer-button {
    height: 30px;
    width: 30px;
    color: white !important;
    margin: 0 20px;
}

.footer-button:hover {
    cursor: pointer !important;
}